@font-face {
  font-family: 'TT Lakes';
  src: url('./fonts/TTLakes/TTLakes-Regular.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes Medium';
  src: url('/src/fonts/TTLakes/TTLakes-Medium.woff');
  font-weight: 500;
  font-style: normal;
  
}
@font-face {
  font-family: 'TT Lakes Bold';
  src: url('/src/fonts/TTLakes/TTLakes-Bold.woff');
  font-weight: bold;
  font-style: normal;
}